@model AspNetMvc.QuickStart.Models.StuCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StuCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        
        <dt>
            学生名称
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        
        <dt>课程名称</dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
